In [214]:
import pandas as pd
import lxml

Calling the dataset

In [222]:
calls_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0)

Transforming in to a DataFrame

In [226]:
table = pd.DataFrame(calls_df[0])
table[0:5]

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Excluding 'Not Assigned' Boroughs

In [227]:
table = table[table.Borough !='Not assigned']
table[0:5]

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Joining Boroughs with to Neighbourhoods

In [228]:
table = table.groupby(['Borough','Postcode'])['Neighbourhood'].apply(', '.join).reset_index()
table = table[['Postcode','Borough','Neighbourhood']]
table[0:5]

  Postcode          Borough                Neighbourhood
0      M4N  Central Toronto                Lawrence Park
1      M4P  Central Toronto             Davisville North
2      M4R  Central Toronto           North Toronto West
3      M4S  Central Toronto                   Davisville
4      M4T  Central Toronto  Moore Park, Summerhill East

Processing 'Not assigned' Neighbourhoods

In [229]:
r = table.shape[0]
n = 0
while n != r :
    if table.iat[n, 2] == 'Not assigned' :
       table.iat[n, 2] = table.iat[n, 1]
    else:
        n = n + 1

Checking the results

In [230]:
r = table.shape[0]
n = 0
while n != r :
    if table.iat[n, 2] == 'Not assigned' :
       print('Wrong logic!!')
    else:
        n = n + 1
print('Well done!!')

Well done!!

In [231]:
table.shape

(103, 3)